h1{
    text-align: center;
}

.헤더,
      .푸터 {
        background-color: rgb(78, 78, 78);
        color: white;
        padding: 20px;
        text-align: center;
      }
      .네비게이션 {
        background-color: aliceblue;
        padding: 10px;
      }
      ul {
        list-style-type: none;
        text-align: center;
      }
      li {
        display: inline;
      }
      a {
        text-decoration: none; /*밑줄 제거*/
        color: violet; /* 글자색 변경*/
        font-weight: bold; /* 글자 표현 두께 변경*/
      }
      body {
        background-color: #f9f9f9;
      }
      .특징 {
        display: inline-block; /*하나의 블록으로 만들어주기*/
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        margin: 20px; /* 공간 설정*/
        box-shadow: 0 0 10px #d7d7d7;
      }

      /* ***** 메뉴.html 에 작성한 styleSheet ***** */

      .메인 {
        width: 80%;
        margin: 20px auto;
      }
      .메뉴 {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
      }
      .아이템 {
        text-align: center;
      }
        
      /*div 클래스 아이템 안에 있는 img 만 크기 조정*/      
      .아이템 img {
        width: 200px;
        border-radius: 20px;
      }
      
      /* ***** 주문하기.html 에 작성한 styleSheet ***** */

      .메인-주문하기 {
        width: 70%;
        background-color: white;
        padding: 20px;
        margin: 20px auto; /*auto 경우 가운데 정렬과 같은 나열을 사용할 때 쓰임*/
        border-radius: 10px;
        box-shadow: 0 0 10px #d7d7d7;
        text-align: center;
      }

      .메인이미지 {
        width: 200px;
        height: 200px;
        margin: 20px;
      }
      .옵션이미지 {
        width: 100px;
        height: 100px;
      }
      .메뉴꾸미기 {
        display: inline-flex;
        text-align: center;
        margin: 20px auto;
      }

